.ApplicationModalBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 1%, 46%, 0.649);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ApplicationModal {
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 60%;
  min-width: 480px;
  height: 75%;
  background-color: white;
  color: hsl(202, 35%, 10%);;
  position: fixed;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}